# MinerandoDados - Linguagem Python

In [1]:
# Esse é um comentário

In [2]:
print ('Hello World')

Hello World

In [3]:
'Hello World'

'Hello World'

In [4]:
# Operações Matemáticas. Pressione CTRL + ENTER para executar a célula

In [5]:
2 + 10

12

In [6]:
# Subtração

In [7]:
2 - 2

0

In [8]:
# Multiplicação

In [9]:
 2 * 2

4

In [10]:
# Divisão

In [11]:
2 / 2

1.0

In [12]:
# Numeros Float

In [13]:
3.2 + 6.6

9.8

In [14]:
8.8 / 2

4.4

In [15]:
10.2 * 2.5

25.5

# Funções no Python

In [16]:
type(5)

int

In [17]:
type(6.6)

float

In [18]:
type("Minerando Dados")

str

# Funções de Conversão

In [19]:
int(6)

6

In [20]:
int(6.5)

6

In [21]:
float(6.5)

6.5

In [22]:
float(6)

6.0

In [23]:
str(5)

'5'

# Funções de Arredodamento

In [24]:
round(2.898)

3

In [25]:
round(2.4545455,3)

2.455

# Trabalhando com Variáveis

In [26]:
var1 = 1
var2 = 2 
var3 = 3

In [27]:
var1

1

In [28]:
type(var1)

int

In [29]:
var4 = 10

In [30]:
var4

10

In [31]:
var1 + var2

3

In [32]:
# Reatribuindo um valor a variável var1 graças a TIPAGEM DINÂMICA

In [33]:
var1 = 'Rock Forever'

In [34]:
type(var1)

str

In [35]:
var2 = 6.78

In [36]:
type(var2)

float

# Operacões Matemáticas e Variáveis

In [37]:
resultado = var2 * 10

In [38]:
resultado

67.8

In [39]:
resultado = 200 / 3

In [40]:
resultado

66.66666666666667

In [41]:
## Declarando vários valores a variaveis

In [42]:
variavel1, variavel2 = 1, 'Teste'

In [43]:
variavel1

1

In [44]:
variavel2

'Teste'

# Restrições para criação de variáveis

In [45]:
variavel_teste = 2

In [46]:
variavel_teste

2

In [51]:
var2 = 10

In [48]:
for= 5 #não pode

SyntaxError: invalid syntax (<ipython-input-48-c01d204f141b>, line 1)

In [52]:
# Palavras Reservadas não são permitidas: break, if, else, print etc...

# Trabalhando com Strings

In [53]:
# Criando uma variável do tipo String

In [54]:
frase = 'Python eh uma linguagem sensacional'

In [55]:
frase

'Python eh uma linguagem sensacional'

In [56]:
# Indexando Strings.

In [57]:
# Importante!! o índice começa com o numero 0.
frase[0]

'P'

In [58]:
frase[1]

'y'

In [59]:
frase[0] = 'R' #Não permite

TypeError: 'str' object does not support item assignment

In [60]:
# Slicing: Percorrendo Strings

In [61]:
frase[0:6]

'Python'

In [62]:
frase[6:]

' eh uma linguagem sensacional'

In [63]:
frase[:6]

'Python'

In [64]:
# Concatennado Strings

In [65]:
frase1 = 'Python eh uma linguagem fenomenal'

In [66]:
frase2 = ' para qualquer cientista de dados'

In [67]:
frase3 = frase1 + frase2

In [69]:
frase3

'Python eh uma linguagem fenomenal para qualquer cientista de dados'

In [70]:
# Objeto String - Métodos

In [71]:
frase = 'Minerando Dados a maior comunidade de Data Science do Brasil.'

In [76]:
frase.count('dados')

0

In [77]:
frase.count('Dados')

1

In [78]:
# A função lower()

In [83]:
frase.lower() #mas precisa atribuir

'minerando dados a maior comunidade de data science do brasil.'

In [84]:
frase

'Minerando Dados a maior comunidade de Data Science do Brasil.'

In [80]:
frase.upper()

'MINERANDO DADOS A MAIOR COMUNIDADE DE DATA SCIENCE DO BRASIL.'

In [85]:
frase.capitalize()

'Minerando dados a maior comunidade de data science do brasil.'

In [86]:
frase.islower()

False

In [87]:
# Quebrando a string em uma lista de termos
frase.split()

['Minerando',
 'Dados',
 'a',
 'maior',
 'comunidade',
 'de',
 'Data',
 'Science',
 'do',
 'Brasil.']

In [88]:
frase.split('de')

['Minerando Dados a maior comunida', ' ', ' Data Science do Brasil.']

# Trabalhando com Listas

In [89]:
# Sintaxe para criar listas no Python
bichos = [1,2,3]
bichos

[1, 2, 3]

In [106]:
# listas com tipos de dados diferentes
bichos = ['dog','cat',122344545,13.9,[1,2,3]]

In [107]:
bichos

['dog', 'cat', 122344545, 13.9, [1, 2, 3]]

In [108]:
# Indices de elementos

In [109]:
bichos[0]

'dog'

In [110]:
bichos[3]

13.9

In [111]:
# Atualizando o valor 1 da lista
bichos[0] = 'Horse'

In [112]:
bichos

['Horse', 'cat', 122344545, 13.9, [1, 2, 3]]

In [113]:
bichos[4]

[1, 2, 3]

In [114]:
bichos[4][2]

3

In [115]:
# Slicing em Listas

In [116]:
bichos[1:]

['cat', 122344545, 13.9, [1, 2, 3]]

In [117]:
# removendo elementos
bichos.remove('cat')

In [119]:
bichos

['Horse', 122344545, 13.9, [1, 2, 3]]

# Operações em Listas

In [120]:
len(bichos)

4

In [121]:
# Concatenando listas

In [122]:
bichos + [200,'Minerando','Dados']

['Horse', 122344545, 13.9, [1, 2, 3], 200, 'Minerando', 'Dados']

In [123]:
# Check elementos

In [124]:
'cat' in bichos

False

In [135]:
'cat' not in bichos

True

In [125]:
# Valor máximo da lista

In [126]:
max(bichos)

TypeError: '>' not supported between instances of 'int' and 'str'

In [127]:
lista = [1,500,23,90,56788]

In [128]:
max(lista)

56788

In [129]:
# Valor mínimo da Lista

In [130]:
min(lista)

1

In [131]:
# Multiplicação de Elementos

In [132]:
['Olá'] * 3

['Olá', 'Olá', 'Olá']

In [133]:
['5'] * 3

['5', '5', '5']

In [134]:
[5] * 3

[5, 5, 5]

# Métodos em Listas

In [136]:
# È possivel visualizar os métodos existentes do objeto lista (digite o nome do objeto + . + tab)
bichos.

SyntaxError: invalid syntax (<ipython-input-136-17fe2a51bbe6>, line 2)

In [137]:
# Adiciona elemento na lista
bichos.append('snake')

In [138]:
bichos

['Horse', 122344545, 13.9, [1, 2, 3], 'snake']

In [139]:
# Extende a lista com mais de um elemento.
bichos.extend(['lion',10.5])
bichos

['Horse', 122344545, 13.9, [1, 2, 3], 'snake', 'lion', 10.5]

In [140]:
bichos.index('snake')

4

In [141]:
bichos.remove('snake')

In [142]:
bichos.count('dog')

0

In [148]:
bichos.count('lion')

1

In [143]:
bichos.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [144]:
# Ordenação de lista de inteiros
lista = [1,500,23,90,56788]
lista2 = ['casa','rio','lua','agua']

In [145]:
lista.sort()
lista

[1, 23, 90, 500, 56788]

In [146]:
lista2.sort()
lista2

['agua', 'casa', 'lua', 'rio']

# Lista Aninhadas

In [149]:
# lista que contém 3 listas
listas = [ ['cat','dog','snake'], ['Audi','Ferrari','Porsche'], [10,100,200] ]

In [150]:
listas

[['cat', 'dog', 'snake'], ['Audi', 'Ferrari', 'Porsche'], [10, 100, 200]]

In [151]:
# Imprimindo o primeiro elemento (lista de animais)
listas[0]

['cat', 'dog', 'snake']

In [152]:
# Imprimindo o segundo elemento (lista de carros)
listas[1]

['Audi', 'Ferrari', 'Porsche']

In [153]:
# Imprimindo o terceiro elemento (lista de inteiros)
listas[2]

[10, 100, 200]

In [154]:
# Imprimindo o 1 carro da lista de carros
listas[1][0]

'Audi'

In [155]:
# Imprimindo o 2 carro da lista de carros
listas[1][1]

'Ferrari'

In [156]:
# Imprimindo o ultimo valor da lista de numeros
listas[2][2]

200

In [157]:
# Operacão de repetição de elementos de linhas alinhadas. 
listas[0] * 3

['cat', 'dog', 'snake', 'cat', 'dog', 'snake', 'cat', 'dog', 'snake']

In [166]:
listas[:2] * 3

[['cat', 'dog', 'snake'],
 ['Audi', 'Ferrari', 'Porsche'],
 ['cat', 'dog', 'snake'],
 ['Audi', 'Ferrari', 'Porsche'],
 ['cat', 'dog', 'snake'],
 ['Audi', 'Ferrari', 'Porsche']]

In [158]:
listas

[['cat', 'dog', 'snake'], ['Audi', 'Ferrari', 'Porsche'], [10, 100, 200]]